.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 50px; /* 50px rounded corners */
	border: 2px solid;
	text-align: center;
	background-color: #835;
	 width: 320px;
  	padding: 10px;
  	margin: 0;
}
.secondCard {
	transition: 0.3s;
	border-radius: 10px; /* 10px rounded corners */
	border: 1px solid;
	text-align: center;
	background-color: #FA8072;
	width: 320px;
  	padding: 10px;
  	margin: 0;
}
.subCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 50px; /* 50px rounded corners */
	border: 2px solid;
	text-align: center;
	background-color: #835;
	 width: 290px;
  	padding: 10px;
  	margin: 0;
}
body {
	font: 'Comic Sans MS';
	color: rgba(0,0,0,0.5);
	text-align: center;
	background-color: linear-gradient(to right, red, green);
}
/*div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}*/
.container {
	/*border: 2px solid;*/
	padding: 2px 16px;
}